.home {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60vh;
  width: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0)),
    url("../images/home.jpg") no-repeat center center/cover;
  margin-top: 100px;
}

.home-heading {
  font-family: var(--font-anton), sans-serif;
  font-size: 70px;
}

.home-description {
  color: rgb(180, 181, 181);
}