.navbar {
  position: fixed;
  top: 50%;
  right: 0px;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.6);
  padding: 8px 25px;
  border-radius: 30px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4); 
  display: flex;
  gap: 20px;
  z-index: 1000;
}

.navbar button {
  background: none;
  border: none;
  color: white;
  font-weight: bold;
  padding: 8px 15px;
  cursor: pointer;
  transition: background 0.3s;
}

.navbar button:hover {
  color: #f39c12;
}
