.skills {
  margin: 300px 200px;
}

.skills p {
  color: rgb(255, 0, 0);
  font-weight: bold;
}

.skills-heading {
  font-family: var(--font-anton), sans-serif;
  font-size: 45px;
  margin-bottom: 50px;
}
